import { Component, OnInit } from '@angular/core';
import { CategoriaService } from 'src/app/services/categoria.service';
import { ActivatedRoute, Router } from '@angular/router';
import { Categoria } from 'src/app/models/categoria.model';

@Component({
  selector: 'app-details-categoria',
  templateUrl: './details-categoria.component.html',
  styleUrls: ['./details-categoria.component.css']
})
export class DetailsCategoriaComponent implements OnInit {

  categoria: Categoria = {
    nome: '',
    outrosNomes: ''
  };
  message = '';
  debug = true;


  constructor(
    private categoriaService: CategoriaService,
    private route: ActivatedRoute,
    private router: Router) { }

  ngOnInit(): void {
    this.message = '';
    this.getTutorial(this.route.snapshot.params.id);
  }

  getCategoria(id: string): void {
    this.categoriaService.get(id)
      .subscribe(
        data => {
          this.categoria = data;
          if (this.debug) console.log(data);
        },
        error => {
          console.log(error);
        });
  }

  updateCategoria(): void {
    this.message = '';

    this.categoriaService.update(this.categoria.id, this.categoria)
      .subscribe(
        response => {
          if (this.debug) console.log(response);
          this.message = response.message ? response.message : 'A entidade CategoriaEditor foi atualizada com sucesso!';
        },
        error => {
          console.log(error);
        });
  }

  deleteCategoria(): void {
    this.categoriaService.delete(this.categoria.id)
      .subscribe(
        response => {
          if (this.debug) console.log(response);
          this.router.navigate(['/categorias']);
        },
        error => {
          console.log(error);
        });
  }
}
