<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <mat-form-field>
        <input
        matInput
        placeholder="Nome do estabelecimento"
          type="text"
          id="nome"
          required
          [(ngModel)]="estabelecimento.nome"
          name="nome"
        />
      </mat-form-field>

      <mat-form-field>
        <input
        matInput
        placeholder="Categoria"
          type="text"
          id="categoria"
          required
          [(ngModel)]="estabelecimento.categoria"
          name="categoria"
        />
      </mat-form-field>

      <mat-form-field>
        <input
        matInput
        placeholder="Place ID"
          type="text"
          id=""
          required
          [(ngModel)]="estabelecimento."
          name=""
        />
      </mat-form-field>

      <button (click)="saveEstabelecimento()" class="btn btn-success">Submit</button>
    </div>
  </div>
</div>
