import { Component, OnInit } from '@angular/core';
import { Categoria } from 'src/app/models/categoria.model';
import { CategoriaService } from 'src/app/services/categoria.service';

@Component({
  selector: 'app-list-categoria',
  templateUrl: './list-categoria.component.html',
  styleUrls: ['./list-categoria.component.css']
})
export class ListCategoriaComponent implements OnInit {

  categoriaCollection?: Categoria[];
  current:  = {};
  currentIndex = -1;
  debug = true;

  constructor(private categoriaService: CategoriaService) { }

  ngOnInit(): void {
    this.retrieveCategorias();
  }

  retrieveCategorias(): void {
    this.categoriaService.getAll()
      .subscribe(
        data => {
          this.categoriaCollection = data;
          if (this.debug) console.log(data);
        },
        error => {
          console.log(error);
        });
  }

  refreshList(): void {
    this.retrieveCategorias();
    this.current = {};
    this.currentIndex = -1;
  }

  setActive(: , index: number): void {
    this.current = ;
    this.currentIndex = index;
  }

  removeAllCategorias(): void {
    this.categoriaService.deleteAll()
      .subscribe(
        response => {
          if (this.debug) console.log(response);
          this.refreshList();
        },
        error => {
          console.log(error);
        });
  }
}
