import { Component, OnInit } from '@angular/core';
import { Estabelecimento } from 'src/app/models/estabelecimento.model';
import { EstabelecimentoService } from 'src/app/services/estabelecimento.service';

@Component({
  selector: 'app-list-estabelecimento',
  templateUrl: './list-estabelecimento.component.html',
  styleUrls: ['./list-estabelecimento.component.css']
})
export class ListEstabelecimentoComponent implements OnInit {

  estabelecimentoCollection?: Estabelecimento[];
  current:  = {};
  currentIndex = -1;
  debug = true;

  constructor(private estabelecimentoService: EstabelecimentoService) { }

  ngOnInit(): void {
    this.retrieveEstabelecimentos();
  }

  retrieveEstabelecimentos(): void {
    this.estabelecimentoService.getAll()
      .subscribe(
        data => {
          this.estabelecimentoCollection = data;
          if (this.debug) console.log(data);
        },
        error => {
          console.log(error);
        });
  }

  refreshList(): void {
    this.retrieveEstabelecimentos();
    this.current = {};
    this.currentIndex = -1;
  }

  setActive(: , index: number): void {
    this.current = ;
    this.currentIndex = index;
  }

  removeAllEstabelecimentos(): void {
    this.estabelecimentoService.deleteAll()
      .subscribe(
        response => {
          if (this.debug) console.log(response);
          this.refreshList();
        },
        error => {
          console.log(error);
        });
  }
}
