<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <mat-form-field>
        <input
        matInput
        placeholder="Nome da categoria"
          type="text"
          id="nome"
          required
          [(ngModel)]="categoria.nome"
          name="nome"
        />
      </mat-form-field>

      <mat-form-field>
        <input
        matInput
        placeholder="Outro nome"
          type="text"
          id=""
          required
          [(ngModel)]="categoria."
          name=""
        />
      </mat-form-field>

      <button (click)="saveCategoria()" class="btn btn-success">Submit</button>
    </div>
  </div>
</div>
